page-start {
  .button-add {
    margin-top: 30px;

  }
  .paciente{
    background-image: url('../../assets/imgs/paciente.png') ;
    width: 100px;
    height: 100px;
  }
  .paciente{
    background-image: url('../../assets/imgs/paciente.png') ;
    width: 100px;
    height: 100px;
  }
  .usuario{
    background-image: url('../../assets/imgs/usuario.png') ;
    width: 100px;
    height: 100px;
  }
  .prontuario{
    background-image: url('../../assets/imgs/prontuario.png') ;
    width: 100px;
    height: 100px;
  }
}
