<ion-header no-lines>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only>
        <ion-icon name='medkit'></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Faculdade Guairacá </ion-title>

    <ion-buttons end>
      <button ion-button icon-only navPush='about'>
        <ion-icon name='information-circle'></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <button [navPush]="'cadastro-page'" class="paciente"></button>
        </div>
      </ion-col>
      <ion-col>
        <div>
          <button *ngIf="aux == 'Qs4UFlutmOfgzrSSo2M9RxFIaBv2'" round [navPush]="'create-user'"
            class="usuario"></button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-content padding>
    <h4 color="primary">Meus Pacientes:</h4>
    <ion-list no-lines padding-bottom margin-top *ngFor="let item of list">
      <button (click)="openEvolution(item)" detail-none>
        <ion-item color='primary'>{{ item.nome }}</ion-item>
      </button>
    </ion-list>
  </ion-content>
</ion-content>
