<div>
  <form novalidate [formGroup]="contatoForm" (ngSubmit)="cadastraContato()">
    <ion-list>
      <ion-slides pager>
        <ion-slide>
          <h4>Identificação do Paciente</h4>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input position="floating" type="text" placeholder="" formControlName="nome"></ion-input>
          </ion-item>
          <small *ngIf="nome.hasError('required') && nome.touched" ion-text color="danger">
            * Campo Nome é Obrigatório
          </small>
          <br>
          <ion-item>
            <ion-label position="floating">Idade</ion-label>
            <ion-input position="floating" type="number" placeholder="" formControlName="idade"></ion-input>
          </ion-item>
          <small *ngIf="idade.hasError('required') && idade.touched" ion-text color="danger">
            * Campo Idade é Obrigatório
          </small>

          <br>
          <ion-item>
            <ion-label position="floating"> Sexo</ion-label>
            <ion-select formControlName="sexo">
              <ion-option value="Masculino">Masculino</ion-option>
              <ion-option value="Feminino">Feminino</ion-option>
              <ion-option value="Indefinido">Indefinido</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="sexo.hasError('required') && sexo.touched" ion-text color="danger">
            * Campo Sexo é Obrigatório
          </small>
          <br>
          <h4>Dados da consulta do sus</h4>
          <ion-item>
            <ion-label position="floating">Posto de Sáude</ion-label>
            <ion-input type="text" placeholder="" formControlName="posto"></ion-input>
          </ion-item>
          <small *ngIf="posto.hasError('required') && posto.touched" ion-text color="danger">
            * Campo Posto é Obrigatório
          </small>
          <br>
          <ion-item>
            <ion-label position="floating">Diagnóstico Clinico</ion-label>
            <ion-input type="text" placeholder="" formControlName="diagnostico">
            </ion-input>
          </ion-item>
          <small *ngIf="diagnostico.hasError('required') && diagnostico.touched" ion-text color="danger">
            * Campo Diagnóstico é Obrigatório
          </small>

          <br>
        </ion-slide>
        <ion-slide>
          <h4>Agendamento para...</h4>
          <ion-item>
            <ion-label> Area de Atendimento</ion-label>
            <ion-select formControlName="area">
              <ion-option value="Psicologia">Psicologia</ion-option>
              <ion-option value="Enfermagem">Enfermagem</ion-option>
              <ion-option value="Fisioterapia">Fisioterapia</ion-option>
              <ion-option value="Ortopedia">Ortopedia</ion-option>
              <ion-option value="Traumatologia">Traumatologia</ion-option>
              <ion-option value="Hidroterapia">Hidroterapia</ion-option>
              <ion-option value="Neurologia">Neurologia</ion-option>
              <ion-option value="Uroginecologia">Uroginecologia</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="area.hasError('required') && area.touched" ion-text color="danger">
            * Campo Diagnóstico é Obrigatório
          </small>
          <br>
          <h4>Situação Familiar</h4>
          <ion-item>
            <ion-label> Estado Civil</ion-label>
            <ion-select formControlName="estadocivil">
              <ion-option value="Solteiro">Solteiro(a)</ion-option>
              <ion-option value="Casado">Casado(a)</ion-option>
              <ion-option value="Viúvo">Viúvo(a)</ion-option>
              <ion-option value="Divorciado">Divorciado(a)</ion-option>
              <ion-option value="Não se aplica">Não se aplica</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="estadocivil.hasError('required') && estadocivil.touched" ion-text color="danger">
            * Campo Estado Civil é Obrigatório
          </small>

          <br>
          <ion-item>
            <ion-label> Com quem mora:</ion-label>
            <ion-select formControlName="quemmora">
              <ion-option value="Sozinho">Sozinho</ion-option>
              <ion-option value="Filhos">Filhos</ion-option>
              <ion-option value="Cônjuge sem filhos">Cônjuge sem filhos</ion-option>
              <ion-option value="Pais/Responsáveis">Pais/Responsáveis</ion-option>
              <ion-option value="Cônjuge com filhos">Cônjuge com filhos</ion-option>
              <ion-option value="Amigos/Conhecidos">Amigos/Conhecidos</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="quemmora.hasError('required') && quemmora.touched" ion-text color="danger">
            * Campo Quem mora é Obrigatório
          </small>

          <br>
          <ion-item>
            <ion-label position="floating">Quantas pessoas moram na casa?</ion-label>
            <ion-input type="number" placeholder="" formControlName="qtdpessoas">
            </ion-input>
          </ion-item>
          <small *ngIf="qtdpessoas.hasError('required') && qtdpessoas.touched" ion-text color="danger">
            * Campo Quantidade de Pessoas é Obrigatório
          </small>

          <br>
          <ion-item>
            <ion-label> Condições de Moradia</ion-label>
            <ion-select formControlName="moradia">
              <ion-option value="Propria">Própria</ion-option>
              <ion-option value="Alugada">Alugada</ion-option>
              <ion-option value="Cedida">Cedida</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="moradia.hasError('required') && moradia.touched" ion-text color="danger">
            * Campo Moradia é Obrigatório
          </small>

          <br>
        </ion-slide>
        <ion-slide>
          <h4>Saneamento...</h4>
          <ion-list radio-group style="margin-bottom:10px;" formControlName="agua">
            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Água:</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="Sim"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="Não"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-list radio-group style="margin-bottom:10px;" formControlName="luz">
            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Luz:</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="Sim"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="Não"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-list radio-group style="margin-bottom:10px;" formControlName="esgoto">
            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Esgoto:</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="Sim"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="Não"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-list radio-group style="margin-bottom:10px;" formControlName="pavimento">
            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Pavimento:</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="Sim"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="Não"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-list radio-group style="margin-bottom:10px;" formControlName="lixo">
            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Lixo:</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="Sim"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="Não"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <br>
        </ion-slide>
        <ion-slide>
          <h4>Escolaridade</h4>
          <ion-item>
            <ion-label>Formação</ion-label>
            <ion-select formControlName="escolaridade">
              <ion-option value="Analfabeto">Analfabeto</ion-option>
              <ion-option value="EM Completo">EM Completo</ion-option>
              <ion-option value="EF Incompleto">EF Incompleto</ion-option>
              <ion-option value="EF Completo">EF Completo</ion-option>
              <ion-option value="ES Completo">ES Completo</ion-option>
              <ion-option value="EM Incompleto">EM Incompleto</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="escolaridade.hasError('required') && escolaridade.touched" ion-text color="danger">
            * Campo Escolaridade é Obrigatório
          </small>

          <br>
          <h4>Profissional</h4>
          <ion-item>
            <ion-label>Situação</ion-label>
            <ion-select formControlName="situacaoprofissional">
              <ion-option value="Empregado">Empregado</ion-option>
              <ion-option value="Desempregado">Desempregado</ion-option>
              <ion-option value="N.A">N.A</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="situacaoprofissional.hasError('required') && situacaoprofissional.touched" ion-text
            color="danger">
            * Campo Situação Profissional é Obrigatório
          </small>

          <br>

          <ion-item>
            <ion-label position="floating">Profissão</ion-label>
            <ion-input position="floating" type="text" placeholder="" formControlName="profissao"></ion-input>
          </ion-item>
          <small *ngIf="profissao.hasError('required') && profissao.touched" ion-text color="danger">
            * Campo Profissão é Obrigatório
          </small>

          <br>
          <ion-item>
            <ion-label position="floating">Salário</ion-label>
            <ion-input position="floating" type="number" placeholder="" formControlName="salario"></ion-input>
          </ion-item>
          <small *ngIf="salario.hasError('required') && salario.touched" ion-text color="danger">
            * Campo Salário é Obrigatório
          </small>
          <br>
          <ion-item>
            <ion-label>Benefícios Previdenciários</ion-label>
            <ion-select formControlName="beneficio">
              <ion-option value="Não recebe">Não recebe</ion-option>
              <ion-option value="Auxílio doença">Auxílio doença</ion-option>
              <ion-option value="Aposentadoria">Aposentadoria</ion-option>
              <ion-option value="Pensão por morte">Pensão por morte</ion-option>
              <ion-option value="BPC">BPC</ion-option>
              <ion-option value="Bolsa Familia">Bolsa Familia</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="beneficio.hasError('required') && beneficio.touched" ion-text color="danger">
            * Campo Beneficio é Obrigatório
          </small>

          <br>
        </ion-slide>
        <ion-slide>
          <h4>História Patológica</h4>
          <ion-item>
            <ion-label>Tipo</ion-label>
            <ion-select formControlName="historiapatologica">
              <ion-option value="Pressão Alta">Pressão Alta</ion-option>
              <ion-option value="Diabetes">Diabetes</ion-option>
              <ion-option value="Colesterol">Colesterol</ion-option>
              <ion-option value="Câncer">Câncer </ion-option>
              <ion-option value="Não há">Não</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="historiapatologica.hasError('required') && historiapatologica.touched" ion-text color="danger">
            * Campo História Patológica é Obrigatório
          </small>

          <br>
          <h4>Hábitos</h4>
          <ion-list radio-group style="margin-bottom:10px;" formControlName="alcool">
            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Alcool:</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="Sim"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="Não"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <ion-list radio-group style="margin-bottom:10px;" formControlName="cigarro">
            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Cigarro:</ion-label>
                  </ion-item>
                </ion-col>

                <ion-col width-50>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="Sim"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="Não"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
            <ion-label>Medicamentos em uso:</ion-label>
            <ion-item>
              <ion-label position="floating"></ion-label>
              <ion-textarea formControlName="medicamentos"></ion-textarea>
            </ion-item>
            <small *ngIf="medicamentos.hasError('required') && medicamentos.touched" ion-text color="danger">
              * Campo Medicamentos é Obrigatório
            </small>

            <br>
          </ion-list>
        </ion-slide>
        <ion-slide>
          <h4>Atividade Física...</h4>
          <ion-list radio-group style="margin-bottom:10px;" formControlName="exercicio">
            <ion-grid>
              <ion-row>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Esporte:</ion-label>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Sim</ion-label>
                    <ion-radio value="Sim"></ion-radio>
                  </ion-item>
                </ion-col>
                <ion-col width-50>
                  <ion-item>
                    <ion-label>Não</ion-label>
                    <ion-radio value="Não"></ion-radio>
                  </ion-item>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-list>
          <h4>Sugestão de encaminhamento</h4>
          <ion-item>
            <ion-label>Area</ion-label>
            <ion-select formControlName="sugestaoencaminhamento">
              <ion-option value="Enfermagem">Enfermagem</ion-option>
              <ion-option value="Odontologia">Odontologia</ion-option>
              <ion-option value="Farmácia">Farmácia</ion-option>
              <ion-option value="Psicologia">Psicologia</ion-option>
              <ion-option value="Fisioterapia">Fisioterapia</ion-option>
              <ion-option value="Serviço Social">Serviço Social</ion-option>
            </ion-select>
          </ion-item>
          <small *ngIf="sugestaoencaminhamento.hasError('required') && sugestaoencaminhamento.touched" ion-text
            color="danger">
            * Campo Sugestão de Encaminhamento é Obrigatório
          </small>

          <ion-label>Motivo do encaminhamento:</ion-label>
          <ion-item>
            <ion-textarea maxLength="500" formControlName="motivoencaminhamento"></ion-textarea>
          </ion-item>
          <small *ngIf="motivoencaminhamento.hasError('required') && motivoencaminhamento.touched" ion-text
            color="danger">
            * Campo Motivo do Encaminhamento é Obrigatório
          </small>

          <h4>Data do Cadastro</h4>
          <ion-item>
            <ion-label>Data do Cadastro</ion-label>
            <ion-datetime displayFormat="D/M/YYYY" pickerFormat="DD/MM/YYYY" placeholder="DD/MM/YYYY"
              formControlName="data"></ion-datetime>
          </ion-item>
          <small *ngIf="data.hasError('required') && data.touched" ion-text color="danger">
            * Campo Data é Obrigatório
          </small>

          <button type="submit" ion-button block [disabled]="contatoForm.invalid">Salvar</button>
          <br>
          <br>
        </ion-slide>
      </ion-slides>
    </ion-list>
  </form>
</div>
