<div>
  <form novalidate [formGroup]="contatoForm" (ngSubmit)="cadastraContato()">
    <ion-list>
      <ion-slides pager>
        <ion-slide>
          <br>
          <h4>Identificação do Paciente</h4>
          <ion-item>
            <ion-label position="floating">Nome</ion-label>
            <ion-input position="floating" type="text" placeholder="" formControlName="nome"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Idade</ion-label>
            <ion-input position="floating" type="number" placeholder="" formControlName="idade"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating"> Sexo</ion-label>
            <ion-select formControlName="sexo">
              <ion-option value="Masculino" checked="true">Masculino</ion-option>
              <ion-option value="Feminino">Feminino</ion-option>
              <ion-option value="Indefinido">Indefinido</ion-option>
            </ion-select>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Posto de Sáude</ion-label>
            <ion-input type="text" placeholder="" formControlName="posto"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Diagnóstico Clinico</ion-label>
            <ion-input type="text" placeholder="" formControlName="diagnostico">
            </ion-input>
          </ion-item>
          <br>
          <br>
          <br>
          <br>
          <br>
        </ion-slide>
        <ion-slide>
          <br>
          <h4>Area de Atendimento...</h4>
          <ion-item>
            <ion-label> Area de Atendimento</ion-label>
            <ion-select formControlName="area">
              <ion-option value="Psicologia" checked="true">Psicologia</ion-option>
              <ion-option value="Enfermagem">Enfermagem</ion-option>
              <ion-option value="Fisioterapia">Fisioterapia</ion-option>
              <ion-option value="Ortopedia">Ortopedia</ion-option>
              <ion-option value="Traumatologia">Traumatologia</ion-option>
              <ion-option value="Hidroterapia">Hidroterapia</ion-option>
              <ion-option value="Neurologia">Neurologia</ion-option>
              <ion-option value="Uroginecologia">Uroginecologia</ion-option>
            </ion-select>
          </ion-item>
          <br>
          <ion-item>
            <ion-label> Estado Civil</ion-label>
            <ion-select formControlName="estadocivil">
              <ion-option value="Solteiro" checked="true">Solteiro(a)</ion-option>
              <ion-option value="Casado">Casado(a)</ion-option>
              <ion-option value="Viúvo">Viúvo(a)</ion-option>
              <ion-option value="Divorciado">Divorciado(a)</ion-option>
              <ion-option value="Não se aplica">Não se aplica</ion-option>
            </ion-select>
          </ion-item>
          <br>

          <ion-item>
            <ion-label> Com quem mora:</ion-label>
            <ion-select formControlName="quemmora">
              <ion-option value="Sozinho" checked="true">Sozinho</ion-option>
              <ion-option value="Filhos">Filhos</ion-option>
              <ion-option value="Cônjuge sem filhos">Cônjuge sem filhos</ion-option>
              <ion-option value="Pais/Responsáveis">Pais/Responsáveis</ion-option>
              <ion-option value="Cônjuge com filhos">Cônjuge com filhos</ion-option>
              <ion-option value="Amigos/Conhecidos">Amigos/Conhecidos</ion-option>
            </ion-select>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Quantas pessoas moram na casa?</ion-label>
            <ion-input type="number" placeholder="" formControlName="qtdpessoas">
            </ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label> Condições de Moradia</ion-label>
            <ion-select formControlName="moradia">
              <ion-option value="Propria" checked="true">Própria</ion-option>
              <ion-option value="Alugada">Alugada</ion-option>
              <ion-option value="Cedida">Cedida</ion-option>
            </ion-select>
          </ion-item>
          <br>
        </ion-slide>
        <ion-slide>
          <br>
          <h4>Somente mais alguns dados...</h4>
          <ion-item>
            <ion-label position="floating">Possui Saneamento?</ion-label>
            <ion-input type="text" placeholder="" formControlName="saneamento"></ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label>Escolaridade</ion-label>
            <ion-select formControlName="escolaridade">
              <ion-option value="Analfabeto" checked="true">Analfabeto</ion-option>
              <ion-option value="EM Completo">EM Completo</ion-option>
              <ion-option value="EF Incompleto">EF Incompleto</ion-option>
              <ion-option value="EF Completo">EF Completo</ion-option>
              <ion-option value="ES Completo">ES Completo</ion-option>
              <ion-option value="EM Incompleto">EM Incompleto</ion-option>
            </ion-select>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">Situação Profissional</ion-label>
            <ion-input type="text" placeholder="" formControlName="situacaoprofissional">
            </ion-input>
          </ion-item>
          <br>
          <ion-item>
            <ion-label position="floating">História Patológica</ion-label>
            <ion-input type="text" placeholder="" formControlName="historiapatologica">
            </ion-input>
          </ion-item>
          <br>
          <br>

          <button type="submit" ion-button block [disabled]="contatoForm.invalid">Salvar</button>
          <br>
          <br>
          <br>

        </ion-slide>
      </ion-slides>
    </ion-list>

  </form>
</div>
