$font-path: "../assets/fonts";
$app-direction: ltr;
@import "ionic.globals";

$colors: (
  primary:    #0791DC,
  secondary:  #ff932e,
  success:    #1fc936,
  danger:     #d82121,
  dangerDark: #751488,
  light:      #f7f7f7,
  lighter:    #ffffff,
  medium:     rgb(128, 127, 127),
  dark:       #222
);

$toolbar-md-background: color($colors, primary);
$toast-md-title-padding-top: 12px;
$toast-md-title-padding-bottom: 12px;
// $text-input-highlight-color-valid: none;
$alert-md-border-radius: 8px;
$alert-md-head-padding-top: 20px;
$alert-md-checkbox-border-radius: 6px;


@import "ionic.theme.default";
@import "ionic.ionicons";
@import "roboto";
@import "noto-sans";
